@import "../../styles/base/variables";

// ==========================================================================
// Global
// ==========================================================================
.carouselItem {
    height: 100vh;
    max-height: 1080px;
    cursor: grab;

    .carouselContent {
        .title {
            font-size: clamp(24px, 12vw, 100px);
        }
    }
    .featureImage {
        height: 280px;
        width: 250px;
    }
}

// ==========================================================================
// Mobile
// ==========================================================================
@media (min-width: $breakMobile) {
    .carouselItem {
        .carouselContent {
            margin: 125px 0 25px 0;

            .collectionYear {
                color: #5c5c5c;
            }
            .titleWrap {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 0 20px 0;
            }
            .exploreWrap {
                width: 130px;
                height: 130px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                font-size: 16px;
                border: 1px solid black;
                border-radius: 100%;
                overflow: hidden;
                transition: 0.5s;
                -webkit-animation: ani2 0.7s steps(22) forwards;
                animation: ani2 0.7s steps(22) forwards;
                mask: url("../../static/images/nature-sprite.png");
                mask-size: 2300% 100%;

                .mas {
                    position: absolute;
                    color: #000;
                    text-align: center;
                    width: 101%;
                    font-family: "Lato", sans-serif;
                    font-weight: 300;
                    position: absolute;
                    font-size: 11px;
                    margin-top: 17px;
                    overflow: hidden;
                    font-weight: bold;
                }
                &:hover {
                    -webkit-animation: ani 0.7s steps(22) forwards;
                    animation: ani 0.7s steps(22) forwards;
                    background: black;
                }
                .arrowRight {
                    width: 25px;
                    height: 25px;
                }
            }
            .thumbnailWrap {
                display: flex;
                gap: 25px;
            }
            .thumbnailTop {
                width: 200px;
                height: 270px;
            }
            .thumbnailBottom {
                width: 200px;
                height: 270px;
            }
        }
    }
}

// ==========================================================================
// Mobile Large
// ==========================================================================
@media (min-width: $breakMobileLarge) {
}

// ==========================================================================
// Tablet
// ==========================================================================
@media (min-width: $breakTablet) {
}

// ==========================================================================
// Desktop
// ==========================================================================
@media (min-width: $breakDesktop) {
}

// ==========================================================================
// Desktop Large
// ==========================================================================
@media (min-width: $breakDesktopLarge) {
    .carouselItem {
        max-height: 1080px;
        cursor: grab;
        display: flex !important;

        .featureImage {
            height: 100%;
            width: 50%;
        }
        .carouselContent {
            position: relative;
            width: 50%;
            .thumbnailTop {
                position: absolute;
                top: 150px;
                left: 0px;
                width: 200px;
                height: 200px;
            }
            .thumbnailBottom {
                position: absolute;
                bottom: 50px;
                right: 50px;
                width: 200px;
                height: 200px;
            }
            .collectionYear {
                margin: 150px 0px 0px 400px;
                span {
                    display: block;
                }
            }
            .title {
                font-size: 100px;
                max-width: 800px;
                position: absolute;
                top: 50%;
                left: 145%;
                z-index: 1;
                transform: translate(-145%, -50%);
                font-family: $CormorantGaramondBold;
                line-height: 100px;

                span {
                    display: block;
                    margin: 0px 0px 0px 150px;
                }
            }
            .bodycopy {
                max-width: 500px;
                margin: 0px 0px 50px 0px;
            }
            .exploreWrap {
                width: 200px;
                height: 200px;
                position: absolute;
                bottom: 50px;
                left: 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                font-size: 20px;
                border: 1px solid black;
                border-radius: 100%;
                overflow: hidden;
                transition: 0.5s;
                -webkit-animation: ani2 0.7s steps(22) forwards;
                animation: ani2 0.7s steps(22) forwards;
                mask: url("../../static/images/nature-sprite.png");
                mask-size: 2300% 100%;

                .mas {
                    position: absolute;
                    color: #000;
                    text-align: center;
                    width: 101%;
                    font-family: "Lato", sans-serif;
                    font-weight: 300;
                    position: absolute;
                    font-size: 11px;
                    margin-top: 17px;
                    overflow: hidden;
                    font-weight: bold;
                }
                &:hover {
                    -webkit-animation: ani 0.7s steps(22) forwards;
                    animation: ani 0.7s steps(22) forwards;
                    background: black;
                }
                .arrowRight {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}

@keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }

    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }

    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}
