@font-face {
    font-family: "CormorantGaramondLight";
    src: url("../../static/fonts/CormorantGaramond-Light.ttf");
    font-weight: normal;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CormorantGaramondRegular";
    src: url("../../static/fonts/CormorantGaramond-Regular.ttf");
    font-weight: normal;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CormorantGaramondMedium";
    src: url("../../static/fonts/CormorantGaramond-Medium.ttf");
    font-weight: normal;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CormorantGaramondSemiBold";
    src: url("../../static/fonts/CormorantGaramond-SemiBold.ttf");
    font-weight: normal;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CormorantGaramondBold";
    src: url("../../static/fonts/CormorantGaramond-Bold.ttf");
    font-weight: normal;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
