// ==========================================================================
// Base – Colour Variables
// ==========================================================================
$bgColor: #161616;
$white: #ffffff;
$black: #000;
$grey: #818181;
$red: red;

// ==========================================================================
// Base –  layout
// ==========================================================================

// Breakpoint Variables
$breakMobile: 0; //320px
$breakMobileLarge: 500px;
$breakTablet: 740px;
$breakDesktop: 1020px;
$breakDesktopLarge: 1460px;

// max container width
$containerMaxWidth: 1920px;

// Container Variables
$containerMobile: 280px; // 100%
$containerMobileLarge: 480px; //480px
$containerTablet: 720px; // 720px
$containerDesktop: 1000px; //1000px
$containerDesktopLarge: 1440px; //1440px

// Container Full gutters
$containerFullGutterMobile: 5px;
$containerFullGutterMobileLarge: 15px;
$containerFullGutterTablet: 30px;
$containerFullGutterDesktop: 45px;
$containerFullGutterDesktopLarge: 55px;

// Container gutters
$containerGutterMobile: 5px;
$containerGutterMobileLarge: 15px;
$containerGutterTablet: 30px;
$containerGutterDesktop: 45px;
$containerGutterDesktopLarge: 55px;

// Grid gutters
$gutterMobile: 10px;
$gutterMobileLarge: 12px;
$gutterTablet: 20px;
$gutterDesktop: 30px;
$gutterDesktopLarge: 30px;

// Row gutters
$rowGutterMobile: 10px;
$rowGutterMobileLarge: 12px;
$rowGutterTablet: 20px;
$rowGutterDesktop: 30px;
$rowGutterDesktopLarge: 30px;

// ==========================================================================
// Base – Typorgaphy & Global Variables
// ==========================================================================

// Fonts
$CormorantGaramondLight: "CormorantGaramondLight", Helvetica, Arial, sans-serif;
$CormorantGaramondRegular: "CormorantGaramondRegular", Helvetica, Arial, sans-serif;
$CormorantGaramondMedium: "CormorantGaramondMedium", Helvetica, Arial, sans-serif;
$CormorantGaramondSemiBold: "CormorantGaramondSemiBold", Helvetica, Arial, sans-serif;
$CormorantGaramondBold: "CormorantGaramondBold", Helvetica, Arial, sans-serif;

// Global Vars
$baseFontFamily: $CormorantGaramondLight; // may not need this
$baseFontFamilyBold: $CormorantGaramondBold;
$baseFontSize: 11;
$baseLineHeight: 16;
$baseLetterSpacingSize: 0;
$baseFontWeight: 400;
$baseFontWeightBold: 400;
$baseFontColor: $black;
$baseBackgroundColor: $white;

// ==========================================================================
// Base – Buttons Variables
// ==========================================================================

// Normal
$btnFontFamily: $CormorantGaramondLight;
$btnTextTransform: none;
// $btnFontSizes: 14;
// $btnLineHeight: 16;
// $btnLetterSpacingSize: 0;
$btnBorder: 1px solid $black;
$btnRadius: 30px;
// $btnPadding: 12px;
$btnColor: $red;
$btnBackground: $black;
// Hover
$btnHoverColor: $white;
$btnHoverBgColor: $black;
$btnHoverBorder: 1px solid $black;
//active
$btnActiveColor: $white;
$btnActiveBgColor: $black;
$btnActiveBorder: 1px solid $black;
//focus
$btnFocusColor: $black;
$btnFocusBgColor: $black;
$btnFocusBorder: 1px solid $black;
// Disabled
$btnDisabledColor: $white;
$btnDisabledBgColor: $black;
$btnDisabledBorder: 1px solid $black;

// ==========================================================================
// Base – Link Variables
// ==========================================================================

$linkColor: $black;
$linkFontFamily: $baseFontFamily;
$linkHoverColor: $black;
$linkTextDecoration: none;

// ==========================================================================
// Base – Forms Variables
// ==========================================================================

// Labels
// ==========================================================================
$baseInputLabelFamily: $CormorantGaramondLight;
$baseInputLabelFontSize: 14;
$baseInputLabelLineHeight: 14;
$baseInputLabelLetterSpacingSize: $baseLetterSpacingSize;
$baseInputLabelPaddingMobile: 0 0 12px;
$baseInputLabelPaddingMobileLarge: 0 0 12px;
$baseInputLabelPaddingTablet: 0 0 12px;
$baseInputLabelPaddingDesktop: 0 0 12px;
$baseInputLabelPaddingDesktopLarge: 0 0 12px;

// Inputs
// ==========================================================================
$baseInputFamily: $CormorantGaramondLight;
$baseInputFontSize: 12;
$baseInputLineHeight: 12;
$baseInputLetterSpacingSize: $baseLetterSpacingSize;
$baseInputHeight: auto;
$baseInputPaddingMobile: 10px 15px 10px 15px;
$baseInputPaddingMobileLarge: 10px 15px 10px 15px;
$baseInputPaddingTablet: 10px 15px 10px 15px;
$baseInputPaddingDesktop: 15px 18px 15px 18px;
$baseInputPaddingDDesktopLarge: 15px 18px 15px 18px;
// Textarea Border
// ==========================================================================
$baseTextareaLineHeight: 16; // 18
// Input Border
// ==========================================================================
$baseInputRadius: 0px;
$baseInputBorder: 1px solid rgba($white, 1);
$baseInputBorderFocus: 1px solid rgba($white, 1);
// input colour
// ==========================================================================
$baseInputPlaceholderColor: $red;
$baseInputColor: $black;
// Input bacckgroud colour
// ==========================================================================
$baseInputBackgroundColor: $white;
$baseInputBackgroundFocusColor: $white;
// From class
// ==========================================================================
$formGroupTitleFontFamily: $baseFontFamily;
$formGroupTitleColour: $black;
// Input error
// ==========================================================================
$formErrorFamily: $baseFontFamily;
$formErrorFontSize: 10;
$formErrorLineHeight: 10;
$formErrorLetterSpacingSize: $baseLetterSpacingSize;
$formErrorColor: $black;
$submissionErrorColor: $black;
// Form Layout
// ==========================================================================
$formLayoutMarginBottomMobile: 15px;
$formLayoutMarginMobileLarge: 15px;
$formLayoutMarginTablet: 17px;
$formLayoutMarginDesktop: 20px;
$formLayoutMarginDDesktopLarge: 20px;
//field Checkbox
// ==========================================================================
$fieldCheckboxLabelColor: baseInputColor;
$fieldCheckboxBorder: 1px solid $baseInputColor;
$fieldCheckboxBgColor: $black;
$fieldCheckboxBgColorActive: $black;
$fieldCheckboxSizes: 10px;
$fieldCheckboxLeft: 10px;
$fieldCheckboxTop: -1px;
$fieldCheckboxPaddingMobile: 0 0 0 35px;
$fieldCheckboxMarginMobile: 9px 0 10px;
// $fieldCheckboxPaddingMobileLarge: 0 0 0 35px;
// $fieldCheckboxMarginMobileLarge:9px 0 10px;
$fieldCheckboxPaddingTablet: 0 0 0 35px;
$fieldCheckboxMarginTablet: 12px 0 13px;
// $fieldCheckboxPaddingTablet: 0 0 0 35px;
// $fieldCheckboxMarginTablet: 9px 0 10px;
// $fieldCheckboxPaddingDesktop: 0 0 0 35px;
// $fieldCheckboxMarginDesktop: 9px 0 10px;
// $fieldCheckboxPaddingDesktopLarge: 0 0 0 35px;
// $fieldCheckboxMarginDesktopLarge: 9px 0 10px;

// field Radio
// ==========================================================================
$fieldRadioLabelColor: baseInputColor;
$fieldRadioBorder: 1px solid $baseInputColor;
$fieldRadioBgColor: $white;
$fieldRadioBgColorActive: $black;
$fieldRadioSizes: 10px;
$fieldRadioLeft: 10px;
$fieldRadioTop: -3px;
$fieldRadioPaddingMobile: 0 0 0 35px;
$fieldRadioMarginMobile: 9px 0 10px;
// $fieldRadioPaddingMobileLarge: 0 0 0 35px;
// $fieldRadioMarginMobileLarge:9px 0 10px;
$fieldRadioPaddingTablet: 0 0 0 35px;
$fieldRadioMarginTablet: 12px 0 13px;
// $fieldRadioPaddingTablet: 0 0 0 35px;
// $fieldRadioMarginTablet: 9px 0 10px;
// $fieldRadioPaddingDesktop: 0 0 0 35px;
// $fieldRadioMarginDesktop: 9px 0 10px;
// $fieldRadioPaddingDesktopLarge: 0 0 0 35px;
// $fieldRadioMarginDesktopLarge: 9px 0 10px;
